<div class="container">
  <h2 class="title">Interview Questions</h2>

  <mat-card *ngIf="question; else noMoreQuestions" class="question-card">
    <mat-card-header>
      <mat-card-title>Question</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>{{ question.question }}</h4>
      <div [innerHTML]="question.answer" *ngIf="showAnswer" class="answer"></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="showAnswer = !showAnswer">
        {{ showAnswer ? 'Hide Answer' : 'Show Answer' }}
      </button>
    </mat-card-actions>
    <mat-card-actions>
      <label for="confidence">Confidence Level:</label>
      <select id="confidence" [(ngModel)]="confidenceLevel">
        <option value="UNFAMILIAR">Unfamiliar</option>
        <option value="LOW">Low</option>
        <option value="MEDIUM">Medium</option>
        <option value="ENOUGH">Enough</option>
        <option value="HIGH">High</option>
      </select>

      <button (click)="submitProgress()">Save Progress</button>

    </mat-card-actions>
  </mat-card>

  <ng-template #noMoreQuestions>
    <p>No more questions available.</p>
  </ng-template>

  <div class="navigation">
    <button mat-raised-button color="accent" (click)="nextQuestion()" [disabled]="!question">
      Next
    </button>
  </div>
</div>

